{% extends 'estrutura/baseEstrutura.html' %}

{% set clubes_ativo = ' active' %}

{% block titulo %}Clubes{% endblock %}

{% block conteudo %}
    <div class="row titulo">
        <div class="col-md-10">
            <h3 class=" pull-left">Clubes</h3>
        </div>
        <div class="col-sm-12 col-md-2">
            <a href="{{ url_clubes }}cadastro/" class="btn btn-success pull-right col">Novo Clube</a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Clube</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for c in clubes %}
                <tr>
                    <td>
                        <a href="{{ url_clubes }}cadastro/{{ c.id }}/">{{ c.nome }}</a>
                    </td>
                    <td class="text-right">
                        <a href="#" class="fa fa-trash-o text-danger remover_clube" data-id="{{ c.id }}" data-nome="{{ c.nome }}"></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-center" colspan="2">
                        <i>Nenhum clube cadastrado</i>
                    </td>
                </trs>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block js_inline %}
    <script type="text/javascript">
        $('.remover_clube').on('click', function(){
            var id = $(this).attr('data-id');
            var nome = $(this).attr('data-nome');
            
            var data = {'id': id};
            
            if (confirm("Tem certeza que deseja remover o clube '" + nome + "'?")){
                enviaForm3(data, '{{ url_clubes }}remove/', $(this), function(){
                    document.location.reload();
                });
            }
        });
    </script>
{% endblock %}
