Options +FollowSymLinks
RewriteEngine on

#RewriteRule ^(.*)/pag-([0-9]+)/$ $1/?pag=$2
RewriteRule ^(doc)($|/) - [L]

RewriteRule ^[\/]?$ base/index/ [L]

#geral
RewriteRule ^([a-z]+)[\/]$ $1/index/ [L]

#pega nome e valores de módulos
RewriteRule ^([a-z]+)/([a-z]+)[\/]$ index.php?require=$1&class=$2 [L,QSA]
RewriteRule ^([a-z]+)/([a-z]+)/[\/]?([0-9a-zA-Z]+)?[\/]$ index.php?require=$1&class=$2&val1=$3 [L]

#Erros personalizados
#ErrorDocument 400 /html/erros/badrequest.html
#ErrorDocument 401 /html/erros/authreqd.html
#ErrorDocument 403 /html/erros/forbid.html
#ErrorDocument 404 /html/erros/notfound.html
#ErrorDocument 500 /html/erros/serverr.html
