{% extends 'estrutura/baseEstrutura.html' %}

{% set socios_ativo = ' active' %}

{% block titulo %}Novo Sócio{% endblock %}

{% block conteudo %}
    <div class="row titulo">
        <div class="col">
            <h3 class=" pull-left">
                {% if socio %}
                    Editar Sócio <i>'{{ socio.nome }}'</i>
                {% else %}
                    Novo Sócio
                {% endif %}
            </h3>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="form-control rounded">
            <form method="POST">
                <div class="form-group row">
                    <div class="col">
                        {{ form.nome.label|raw }}
                        {{ form.nome|raw }}

                        {{ form.clube_id.label|raw }}
                        {{ form.clube_id|raw }}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        <a href="{{ url_clubes }}" class="btn btn-warning btn_voltar">
                            <span class="fa fa-arrow-left"></span>
                            Voltar
                        </a>
                    </div>
                    <div class="col text-right">
                        <button type="submit" class="btn btn-success">
                            Salvar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}